<div class="parentBox">

    <!--First row-->
     <div class="grid" style="transform: rotate(180deg);">
        <app-single-space class="space" 
        [showStar]="s.star"
        [color]="s.color"
        [p1Pieces]="p1Pieces"
        [p2Pieces]="p2Pieces"
        [p3Pieces]="p3Pieces"
        [p4Pieces]="p4Pieces"
        [selectedPiece]="selectedPiece"
        [selectedPlayer]="selectedPlayer"
        (spPieceSelected)="spPieceSelectedPass($event)"
        *ngFor="let s of firstSpaces" ></app-single-space>
    </div>

    <!--Middle row-->
    <div class="grid">
        <app-single-space 
        class="space"
        [color]="s.color"
        [count]="s.count"
        [finalCount]="s.final_count"
        [p1Pieces]="p1Pieces"
        [p2Pieces]="p2Pieces"
        [p3Pieces]="p3Pieces"
        [p4Pieces]="p4Pieces"
        [selectedPiece]="selectedPiece"
        [selectedPlayer]="selectedPlayer"
        (spPieceSelected)="spPieceSelectedPass($event)" 
        *ngFor="let s of middleSpaces"></app-single-space>
    </div>
   
   <!--Last row-->
    <div class="grid">
        <app-single-space 
        class="space" 
        [showArrow]="s.arrow" 
        [color]="spacesColor"
        [p1Pieces]="p1Pieces"
        [p2Pieces]="p2Pieces"
        [p3Pieces]="p3Pieces"
        [p4Pieces]="p4Pieces"
        [count]="s.count"
        [selectedPiece]="selectedPiece"
        [selectedPlayer]="selectedPlayer"
        (spPieceSelected)="spPieceSelectedPass($event)" 
        *ngFor="let s of lastSpaces" ></app-single-space>
    </div>
</div>