<div class="parentBox">

     <div class="grid" style="transform: rotate(180deg);">
        <app-single-space class="space" [show_star]="s.star" [color]="s.color" *ngFor="let s of first_spaces" ></app-single-space>
    </div>

    
    <div class="grid">
        <app-single-space class="space" [color]="s.color" *ngFor="let s of middle_spaces"></app-single-space>
    </div>
   
    <div class="grid">
        <app-single-space class="space" [show_arrow]="s.arrow" [color]="spaces_color" *ngFor="let s of last_spaces" ></app-single-space>
    </div>
</div>