<div class="space" [style.background-color]="color" >

     <!--Position number-->
     <div style="position: absolute;">{{number}}</div>

     <!--Arrow icon-->
     <div class="container" style="position: absolute;" *ngIf="show_arrow" >
          <img src="assets/Right_simple_arrow_-_black.svg" 
          style="transform: rotate(90deg);"
          alt="image"
          width="45"
          height="45">
     </div>

     <!--Star icon-->
     <div class="container" style="position: absolute;" *ngIf="show_star">
          <img src="assets/Five_Pointed_Star_Solid.svg"
          style="transform: rotate(0deg);"
          alt="image"
          width="50"
          height="50">
     </div>

     <!--Piece-->
     <div class="container-wrap">
          <app-piece class="item" *ngFor="let p of local_pieces" 
          (piece_selected)="sp_piece_selected_pass($event)"
          (player_selected)="sp_player_selected_pass($event)" 
          [color]="p.color" 
          [current_pos]="p.current_pos" 
          [id]="p.id" 
          [class.grow]="canGrow"
          [style.min-width.px]="minWidth"></app-piece>
     </div>

</div>
