.space{
    background-color: white;
    height: 52px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 52px;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  height: 100%;
  width: 100%;
}

.item{
  z-index: 1;
  flex: 0 1 0;
}

.grow{
  flex-grow: 1
}

@keyframes LeavePiece {

    from{
        transform: scale(1);
        opacity: 1;
    }

    to{
    transform: scale(0);
    opacity: 0;
    }

}

@keyframes EnterPiece {

    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
    transform: scale(1);
    opacity: 1;
    }

}

.leave-piece{
    animation: LeavePiece 0.5s ease-in-out;
}

.enter-piece{
    animation: EnterPiece 0.5s ease-in-out;
}