
   <div class="board test-grid">
        
        <app-circle-pieces [color]="player1_Color" [circle_pieces]="player1_pieces" class="top left" style="position: absolute;"></app-circle-pieces>

        <app-circle-pieces [color]="player2_Color" [circle_pieces]="player2_pieces" class="top right" style="position: absolute;"></app-circle-pieces>
        <app-circle-pieces [color]="player3_Color" class="bottom left" style="position: absolute;"></app-circle-pieces>
        <app-circle-pieces [color]="player4_Color" class="bottom right" style="position: absolute;"></app-circle-pieces>

        <div class="top-grid" >
            <app-spaces [spaces_color]="player2_Color" [pieces]="player1_pieces"></app-spaces>
        </div>
    
        <div class="right-grid">
            <app-spaces [spaces_color]="player4_Color" [pieces]="player1_pieces" class="rotate" style=" transform: rotate(90deg);"></app-spaces>
        </div>

         <div class="bottom-grid">
            <app-spaces [spaces_color]="player3_Color" [pieces]="player1_pieces" class="rotate" style=" transform: rotate(180deg)"></app-spaces>
        </div> 

        <div class="left-grid">
            <app-spaces [spaces_color]="player1_Color" [pieces]="player1_pieces" class="rotate" style=" transform: rotate(270deg);"></app-spaces>
        </div>
       

        <div class="X_container center-grid">
            <app-square [square_color]="player3_Color" class="rotate" style="z-index: -1; position: absolute; transform: translate(48.5%, 119%) rotate(45deg);"></app-square>
            <app-square [square_color]="player1_Color" class="rotate" style="z-index: -1; position: absolute; transform: translate(-22%, 48.3%) rotate(45deg);"></app-square>
            <app-square [square_color]="player2_Color" class="rotate" style="z-index: -1; position: absolute; transform: translate(48.5%, -22%) rotate(45deg);"></app-square>
            <app-square [square_color]="player4_Color" class="rotate" style="z-index: -1; position: absolute; transform: translate(119%, 48.3%) rotate(45deg);"></app-square>
        </div>
    </div>