    <button (click)="RollDice()" >{{dice_result}}</button>

<div class="text-player">
   <h2 >You're playing as <span [style.color]="defined_player">{{defined_player}}</span> </h2> 
</div>
   <div class="board test-grid">

        <!--Circle Pieces-->
        <app-circle-pieces [color]="player1_Color" [circle_pieces]="player1_pieces" [selected_piece]="selected_piece" [selected_player]="current_player" (piece_selected)="selectPiece($event)" (player_selected)="selectPlayer($event)" class="top left" style="position: absolute;"></app-circle-pieces>
        <app-circle-pieces [color]="player2_Color" [circle_pieces]="player2_pieces" [selected_piece]="selected_piece" [selected_player]="current_player" (piece_selected)="selectPiece($event)" (player_selected)="selectPlayer($event)" class="top right" style="position: absolute;"></app-circle-pieces>
        <app-circle-pieces [color]="player3_Color" [circle_pieces]="player3_pieces" [selected_piece]="selected_piece" [selected_player]="current_player" (piece_selected)="selectPiece($event)" (player_selected)="selectPlayer($event)" class="bottom left" style="position: absolute;"></app-circle-pieces>
        <app-circle-pieces [color]="player4_Color" [circle_pieces]="player4_pieces" [selected_piece]="selected_piece" [selected_player]="current_player" (piece_selected)="selectPiece($event)" (player_selected)="selectPlayer($event)" class="bottom right" style="position: absolute;"></app-circle-pieces>

        <!--Top spaces-->
        <div class="top-grid" >
            <app-spaces 
            [spaces_color]="player2_Color"
            [p1_pieces]="player1_pieces"
            [p2_pieces]="player2_pieces"
            [p3_pieces]="player3_pieces"
            [p4_pieces]="player4_pieces"
            [selected_piece]="selected_piece"
            [selected_player]="current_player"
            (sp_piece_selected)="selectPiece($event)"
            (sp_player_selected)="selectPlayer($event)"></app-spaces>
        </div>
    
        <!--Right spaces-->
        <div class="right-grid">
            <app-spaces
            [spaces_color]="player4_Color"
            [p1_pieces]="player1_pieces"
            [p2_pieces]="player2_pieces"
            [p3_pieces]="player3_pieces"
            [p4_pieces]="player4_pieces"
            [selected_piece]="selected_piece"
            [selected_player]="current_player"
            (sp_piece_selected)="selectPiece($event)"
            (sp_player_selected)="selectPlayer($event)"
            class="rotate"
            style="transform: rotate(90deg);"></app-spaces>
        </div>

        <!--Bottom spaces-->
         <div class="bottom-grid">
            <app-spaces 
            [spaces_color]="player3_Color"
            [p1_pieces]="player1_pieces"
            [p2_pieces]="player2_pieces"
            [p3_pieces]="player3_pieces"
            [p4_pieces]="player4_pieces"
            [selected_piece]="selected_piece"
            [selected_player]="current_player"
            (sp_piece_selected)="selectPiece($event)"
            (sp_player_selected)="selectPlayer($event)"
            class="rotate" style="transform: rotate(180deg)"></app-spaces>
        </div> 

        <!--Left spaces-->
        <div class="left-grid">
            <app-spaces 
            [spaces_color]="player1_Color"
            [p1_pieces]="player1_pieces"
            [p2_pieces]="player2_pieces"
            [p3_pieces]="player3_pieces"
            [p4_pieces]="player4_pieces"
            [selected_piece]="selected_piece"
            [selected_player]="current_player"
            (sp_piece_selected)="selectPiece($event)"
            (sp_player_selected)="selectPlayer($event)"
            class="rotate"
            style=" transform: rotate(270deg);"></app-spaces>
        </div>
       
        <!--Center Square-->
        <div class="X_container center-grid">
            <app-square [square_pieces]="player3_pieces" [square_number]="2034" [square_color]="player3_Color" [selected_piece]="selected_piece" [selected_player]="current_player"  class="rotate" style="z-index: -1; position: absolute; transform: translate(48.5%, 119%) rotate(45deg);"></app-square>
            <app-square [square_pieces]="player1_pieces" [square_number]="2020" [square_color]="player1_Color" [selected_piece]="selected_piece" [selected_player]="current_player" class="rotate" style="z-index: -1; position: absolute; transform: translate(-22%, 48.3%) rotate(135deg);"></app-square>
            <app-square [square_pieces]="player2_pieces" [square_number]="2024" [square_color]="player2_Color" [selected_piece]="selected_piece" [selected_player]="current_player" class="rotate" style="z-index: -1; position: absolute; transform: translate(48.5%, -22%) rotate(225deg);"></app-square>
            <app-square [square_pieces]="player4_pieces" [square_number]="2029" [square_color]="player4_Color" [selected_piece]="selected_piece" [selected_player]="current_player" class="rotate" style="z-index: -1; position: absolute; transform: translate(119%, 48.3%) rotate(315deg);"></app-square>
        </div>
    </div>