.dice-button {
    left: calc(50% - 550px);
    position: absolute;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.text-player {
    position: relative;
    margin: auto;
    text-align: center;
    width: vw;
}

.dice-button-style {
    background: none;
    border: none;
    border-radius: 20%;
}

.circle_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 12px;
}

.circle {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    z-index: -1;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate {
    transform: rotate(90deg);
    transform-origin: center;
}

.board {


    margin: auto;

    border: 1px solid black;
    border-radius: 10%;
}

.dice-number {
    width: 100%;
    position: absolute;
    margin: auto;
    --dice-y: -50px;
    transform: translateY(var(--dice-y));
    font-size: 2.5rem;
}

@keyframes DiceNumberEnter {

    to {
        transform: translateY(var(--dice-y)) rotate(0deg);
    }

    from {
        transform: translateY(var(--dice-y)) rotate(-360deg);
    }
}

@keyframes DiceNumberLeave {
    0% {
        transform: translateY(var(--dice-y)) scale(1);
    }

    30% {
        transform: translateY(var(--dice-y)) scale(1.2);
    }

    100% {
        transform: translateY(var(--dice-y)) scale(0);
    }
}

.dice-number-enter {
    animation: DiceNumberEnter 0.3s ease-out;
}

.dice-number-leave {
    animation: DiceNumberLeave 0.3s ease-out;
}

.X_container {
    width: 220px;
    height: 220px;
}

.line {

    position: absolute;
    width: 220px;
    height: 2px;
    background-color: black;
    transform-origin: center;
    top: 50%;
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(-45deg);
}

.outline {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.top {
    top: 0px;
    margin-top: 50px;
}

.bottom {
    bottom: 0px;
    margin-bottom: 50px;
}

.left {
    left: 0px;
    margin-left: 50px;
}

.right {
    right: 0px;
    margin-right: 50px;
}

.top-grid {
    grid-area: top;
}

.bottom-grid {
    grid-area: bottom;
}

.right-grid {
    grid-area: right;
}

.left-grid {
    grid-area: left;
}

.center-grid {
    grid-area: center;
}

@keyframes LeaveDice {

    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }

}

.leave-dice {
    animation: LeaveDice 0.5s ease-in-out;
}

@keyframes EnterDice {

    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}

.enter-dice {
    animation: EnterDice 0.5s ease-in-out;
}

.test-grid {
    display: grid;
    grid-template-areas:
        "top top top"
        "left center right"
        "bottom bottom bottom";
    place-items: center;
    width: 800px;
    height: 800px;
    grid-template-rows: auto 157px auto;
    grid-template-columns: auto 157px auto;
    position: relative;
}

app-spaces {
    display: block;
}


@media (max-width: 800px) {
    .dice-number {
        --dice-y: 130px;
    }

    .dice-button {
        left: calc(50% - 75px);
        transform: translateY(475px);
        position: absolute;
    }

    .test-grid {
        transform: scale(calc(48vw / 400px));
        transform-origin: top left;
        margin-bottom: -440px;
        left: calc(50vw - (800px * (50vw / 400px)/ 2));
    }


}

@media (max-width: 1100px) {
    .dice-number {
        --dice-y: 130px;
    }

    .dice-button {
        left: calc(50% - 75px);
        transform: translateY(475px);
        position: absolute;
    }
}