.circle{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.piece{
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.margintopleft{

    margin-top: 10px;
    margin-left: 10px;
}

.margintopright{

    margin-top: 10px;
    margin-right: 10px;
}

.marginbottomleft{

    margin-bottom: 10px;
    margin-left: 10px;
}

.marginbottomright{

    margin-bottom: 10px;
    margin-right: 10px;
}

.top{
    margin-top: 10px;
}

.bottom{
    margin-bottom: 10px;
}

.left{
    margin-left: 10px;
}

.right{
    margin-right: 10px;
}


.wrapbox{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
}